*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
    color: #fff;
}
.hero h3{
    margin-top: 15%;
    font-weight: 400;
    font-size: 30px;
}
.hero h1{
    margin-top: 30px;
    font-size: 50px;
}
.hero p{
    margin: 10px 0 50px;
}
form{
    background: #fff;
    display: flex;
    width: fit-content;
}
form input{
    border: 0;
    outline: none;
    padding: 10px 20px;
    height: 70px;
    width: 400px;
    font-size: 16px;
}
form button{
    background: #ea71e4;
    border: none;
    outline: none;
    height: 70px;
    width: 100px;
    cursor: pointer;
}
span{
    color: #ea71e4;
    margin-top: 10px;
    display: block;
}